html,body
{
    width: 100%;
    margin: 0;
}

p {
  margin: 0;
}

#now-showing{
    text-align: center;
    background: lightblue;
    padding: 0.3em;
    font-size: 1.4rem;
}

#canvas-container
{
    padding-top: 1em;
    overflow-x: scroll;
}

#do-query
{
    padding: 1em;
    float: right;
}

.semi-square {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#selection-div
{
    background: lightgray;
    padding: 1em;
}

.clear-fix:after
{
    clear:both;
    content: "";
    display: table;
}

.hidden
{
    display: none;
}

#selection-div > select
{
    margin-right: 0.5em;
}

.title {
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 1em;
}

.field
{
    margin-right: 1em;
    display: inline;
}

.invalid
{
    opacity: 0.6;
    background: lavender;
}

@keyframes refresh {
    0%   {background-color: lavender}
    25%  {background-color: lightgreen;}
    100% {background-color: white;}
}

.refreshed
{
    background-color: white;
    animation-name: refresh;
    animation-duration: 5s;
}